/* Use to picture borders */
/* * {
    border: 2px solid blue;
} */

nav, footer {
    background-color: steelblue;
    color: white;
    padding: 10px;
}

/* Nav incognito mode; */
/* a {
    color: steelblue;
    font-size: 1.5em;
} */

a:hover {
    background-color: white;
    color: steelblue;
}

img {
    width: 80%;
    min-width: 350px;
    display: block;
    margin: 0 auto;
}

footer p {
    font-size: 20px;
    margin: 20px auto;
}

